@model AutogearWeb.Models.CalendarModel
@{
    ViewBag.Title = "Calendar";
}
@if (Model.IsUserAdmin)
{
    <div class="col-xs-12 col-sm-3 widget-container-col">
        <div class="widget-box widget-color-dark light-border">
            <div class="widget-header">
                <h5 class="widget-title smaller">Search for Instructor</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-6">
                    @Html.DropDownList("InstructorName", Model.InstructorList, new { @class = "chosen-select form-control", data_placeholder = "Choose a Instructor..." })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>
}
<div id="Calendar"></div>
<div id="appointmentDialog"></div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="leaveModal">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> <h4 class="modal-title" id="mySmallModalLabel">Alert</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    You can not book Appointment on Leave
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrappicker")
    @Scripts.Render("~/bundles/chosenjs")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/Fullcalendar")
    <script>
        $(function () {
            $(".chosen-select").chosen();
            var modalDialog = "";
            var studentData = "";
            var baseUrl = "/Api/AutogearApi/";
            var instructor = "";


            $.getJSON(baseUrl + "GetStudentNames").success(function (data) {
                studentData = data;
            });

            var calendar = $("#Calendar").fullCalendar({
                defaultView: "agendaWeek",
                header: {
                    left: "prev,next today",
                    center: "title",
                    right: "month,agendaWeek,agendaDay"
                },
                editable: false,
                eventDurationEditable: false,
                allDaySlot: false,
                slotDuration: "00:15:01",
                //minTime: "06:00:00",
                //maxTime: "24:00:00",

                defaultDate: "@(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day).ToString("yyyy-MM-dd"))",
                selectable: true,
                selectHelper: true,
                select: function (start, end, allDay) {
                    $.ajax({
                        url: "/Instructor/BookingAppointment",
                        method: "POST",
                        dataType: "html",
                        data: { bookingId: 0 }

                    }).success(function (data) {
                        modalDialog = data;
                        var modal = $(modalDialog).appendTo("body");
                        var startDate = $.datepicker.formatDate("yy-mm-dd", new Date(start));
                        var view = calendar.fullCalendar("getView");
                        if (view.name === "month")
                            end = end.add("-1", "day");
                        var endDate = $.datepicker.formatDate("yy-mm-dd", new Date(end));

                        modal.find("#StartTime,#StopTime").timepicker({
                            minuteStep: 1,
                            showSeconds: false,
                            showMeridian: false,
                            disableFocus: true
                        }).on("focus", function () {
                            $(this).timepicker("showWidget");
                        });
                        modal.find("#StartDate,#EndDate").datepicker({
                            minDate: 0,
                            dateFormat: "yy-mm-dd"
                        });
                        modal.find("#StartDate").val(startDate);
                        modal.find("#EndDate").val(endDate);
                        modal.find("#StartTime").val(start.hours() + ":" + start.minutes());
                        modal.find("#StopTime").val(end.hours() + ":" + end.minutes());
                        modal.find("#InstructorName").val($("#InstructorName option:selected").text());
                        modal.find("#InstructorNumber").val($("#InstructorName").val());
                        //  modal.find(".chosen-select").chosen();
                        //var stDate = new Date(start);
                        //var eDate = new Date(end);

                        modal.find('#signupform').ajaxForm({
                            dataType: "JSON",
                            success: function (data) {
                                console.log(data);
                                if (data["StatusName"] == "Success")
                                    //document.location.reload();
                                {
                                    fetchCalendarEvents($("#InstructorName").val());
                                    modal.modal("hide");
                                } else {
                                    modal.find("#appointmentError").show();
                                }
                            }
                        });
                        modal.find("#cancel").on("click", function (ev) {
                            modal.modal("hide");
                        });
                        modal.modal("show").on("hide", function () {
                            modal.remove();
                        });
                    });
                },
                //editable: true,
                eventClick: function (calEvent, jsEvent, view) {
                    if (calEvent.id != 0) {
                        $.ajax({
                            url: "/Instructor/BookingAppointment",
                            method: "POST",
                            dataType: "html",
                            data: {
                                bookingId: calEvent.id
                            }
                        }).success(function (data) {
                            modalDialog = data;
                            var modal = $(modalDialog).appendTo("body");

                            var startDate = $.datepicker.formatDate("yy-mm-dd", new Date(calEvent.start));
                            var endDate = $.datepicker.formatDate("yy-mm-dd", new Date(calEvent.end));
                            modal.find(".chosen-select").chosen();
                            modal.find("#StartDate").val(startDate);
                            modal.find("#EndDate").val(endDate);
                            modal.find("#StartTime,#StopTime").timepicker({
                                minuteStep: 1,
                                showSeconds: false,
                                showMeridian: false,
                                disableFocus: true
                            }).on("focus", function () {
                                $(this).timepicker("showWidget");
                            });
                            modal.find("#StartDate,#EndDate").datepicker({
                                minDate: 0,
                                dateFormat: "yy-mm-dd"
                            });
                            modal.find('#signupform').ajaxForm({
                                dataType: "JSON",
                                success: function (data) {
                                    //document.location.reload();
                                    modal.modal("hide");
                                    fetchCalendarEvents($("#InstructorName").val());
                                },
                                error: function (data) {
                                    console.log(data);
                                }
                            });
                            modal.find("#cancel").on("click", function (ev) {
                                modal.modal("hide");
                            });
                            modal.modal("show").on("hidden", function () {
                                modal.remove();
                            });
                        });
                    } else {
                        $("#leaveModal").modal("show");
                    }

                },
                events: "/Api/AutogearApi/GetBookingEvents?instructorNumber=" + instructor,
                // ignoreTimezone: false,
                timezone: "local",
                viewrecords: true,
                rowNum: 10
            });

            function fetchCalendarEvents(instructorName) {
                $.ajax({
                    url: "/Api/AutogearApi/GetBookingEvents",
                    data: { instructorNumber: instructorName },
                    dataType: "json"
                }).success(function (data) {
                    calendar.fullCalendar("removeEvents");
                    calendar.fullCalendar("addEventSource", data);
                });
            }

            $("#InstructorName").change(function () {
                fetchCalendarEvents($(this).val());
            });
        });
    </script>
}
