@model AutogearWeb.Models.CalendarModel
@{
    ViewBag.Title = "Calendar";
}
@if (Model.IsUserAdmin)
{
    <div class="col-xs-12 col-sm-3 widget-container-col">
        <div class="widget-box widget-color-dark light-border">
            <div class="widget-header">
                <h5 class="widget-title smaller">Search for Instructor</h5>
            </div>

            <div class="widget-body">
                <div class="widget-main padding-6">
                    @Html.DropDownList("InstructorName", Model.InstructorList, new { @class = "chosen-select form-control" , data_placeholder="Choose a Instructor..."})
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>
}
<div id="Calendar"></div>


@section Scripts
{
    @Scripts.Render("~/bundles/bootstrap");
    @Scripts.Render("~/bundles/bootstrappicker");
    @Scripts.Render("~/bundles/chosenjs");
    @Scripts.Render("~/bundles/jqueryUI");
    @Scripts.Render("~/bundles/Fullcalendar")
    <script>
        $(function() {
            $(".chosen-select").chosen();
            var modalDialog = "";
            var studentData = "";
            var baseUrl = "/Api/AutogearApi/";
            var instructor = "";

            function bookingAppointment(bookingId) {
                $.ajax({
                    url: "/Instructor/BookingAppointment",
                    method: "POST",
                    dataType: "html",
                    data: { bookingId: bookingId }

                }).success(function(data) {
                    modalDialog = data;
                });
            }

            $.getJSON(baseUrl + "GetStudentNames").success(function(data) {
                studentData = data;
            });
            bookingAppointment(0);
            var calendar = $("#Calendar").fullCalendar({
                defaultView: "agendaWeek",

                header: {
                    left: "prev,next today",
                    center: "title",
                    right: "month,agendaWeek,agendaDay"
                },

                allDaySlot: false,
                slotDuration: "00:15:01",
                //minTime: "06:00:00",
                //maxTime: "24:00:00",

                defaultDate: "@(new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).ToString("yyyy-MM-dd"))",
                selectable: true,
                selectHelper: true,
                select: function(start, end, allDay) {
                    var modal = $(modalDialog).appendTo("body");
                    var startDate = $.datepicker.formatDate("yy-mm-dd", new Date(start));
                    var view = calendar.fullCalendar("getView");
                    if (view.name === "month")
                        end = end.add("-1", "day");
                    var endDate = $.datepicker.formatDate("yy-mm-dd", new Date(end));
                    modal.find("#StartDate").val(startDate);
                    modal.find("#EndDate").val(endDate);
                    modal.find("#StartTime").val(start.hours() + ":" + start.minutes());
                    modal.find("#StopTime").val(end.hours() + ":" + end.minutes());
                    modal.find("#InstructorName").val($("#InstructorName option:selected").text());
                    //var stDate = new Date(start);
                    //var eDate = new Date(end);

                    modal.find("#StudentName").autocomplete({
                        source: studentData,
                        minLength: 2
                    });
                    modal.find("#submitForm").on("click", function(ev) {
                        ev.preventDefault();
                        var startTime = modal.find("#StartDate").val() + "T" + modal.find("#StartTime").val();
                        var stopTime = modal.find("#EndDate").val() + "T" + modal.find("#StopTime").val();
                        var bookingAppointment = {
                            BookingId: modal.find("#BookingId").val(),
                            StudentName: modal.find("#StudentName").val(),
                            StartTime: modal.find("#StartTime").val(),
                            StopTime: modal.find("#StopTime").val(),
                            StartDate: modal.find("#StartDate").val(),
                            EndDate: modal.find("#EndDate").val()
                        }
                        $.ajax({
                            method: "POST",
                            url: "/Api/AutogearApi/SaveBookingAppointment",
                            data: bookingAppointment
                        }).success(function(data) {
                            //calendar.fullCalendar('refetchEvents'); // use this if render event is not working                            
                        });
                        calendar.fullCalendar('renderEvent',
                            {
                                title: modal.find("#StudentName").val(),
                                start: start,
                                end: end,
                                className: 'label-info'
                            },
                            true // make the event "stick"
                        );
                        modal.modal("hide");
                    });
                    modal.find("#cancel").on("click", function(ev) {
                        modal.modal("hide");
                    });
                    modal.modal("show").on("hidden", function() {
                        modal.remove();
                    });

                },
                editable: true,
                eventClick: function(calEvent, jsEvent, view) {
                    $.ajax({
                        url: "/Instructor/BookingAppointment",
                        method: "POST",
                        dataType: "html",
                        data: { bookingId: calEvent.id }
                    }).success(function(data) {
                        modalDialog = data;
                        var modal = $(modalDialog).appendTo("body");
                        modal.find("#StartDate").val(calEvent.start.format());
                        var end = calEvent.end.add("-1", "day");
                        modal.find("#EndDate").val(end.format());

                        modal.find("#StudentName").autocomplete({
                            source: studentData,
                            minLength: 2
                        });
                        modal.find("#submitForm").on("click", function(ev) {
                            ev.preventDefault();
                            var startTime = modal.find("#StartDate").val() + "T" + modal.find("#StartTime").val();
                            var stopTime = modal.find("#EndDate").val() + "T" + modal.find("#StopTime").val();
                            var bookingAppointment = {
                                BookingId: modal.find("#BookingId").val(),
                                StudentName: modal.find("#StudentName").val(),
                                StartTime: modal.find("#StartTime").val(),
                                StopTime: modal.find("#StopTime").val(),
                                StartDate: modal.find("#StartDate").val(),
                                EndDate: modal.find("#EndDate").val()
                            };
                            $.ajax({
                                method: "POST",
                                url: "/Api/AutogearApi/SaveBookingAppointment",
                                data: bookingAppointment
                            });
                            calEvent.title = modal.find("#StudentName").val();
                            calEvent.start = startTime;
                            calEvent.end = stopTime;
                            calendar.fullCalendar("updateEvent", calEvent);
                            modal.modal("hide");
                        });
                        modal.modal("show").on("hidden", function() {
                            modal.remove();
                        });
                    });
                },
                events: "/Api/AutogearApi/GetBookingEvents?instructorNumber=" + instructor,
                // ignoreTimezone: false,
                timezone: "local"
            });

            function fetchCalendarEvents(instructorName) {
                $.ajax({
                    url: "/Api/AutogearApi/GetBookingEvents",
                    data: { instructorNumber: instructorName },
                    dataType: "json"
                }).success(function(data) {
                    calendar.fullCalendar("removeEvents");
                    calendar.fullCalendar("addEventSource", data);
                });
            }

            $("#InstructorName").change(function () {
                fetchCalendarEvents($(this).val());
            });
            //$.getJSON(baseUrl + "GetInstructorNames").then(function(data) {
            //    $("#InstructorName").autocomplete({
            //        source: data,
            //        select: function(event, ui) {
            //            fetchCalendarEvents(ui.item.value);
            //        },
            //        minLength: 2
            //    });
            //});

        });
    </script>
}
