@model AutogearWeb.Models.InstructorsDayCalendarModel
@{
    ViewBag.Title = "Instructors Day Calendar";
}


<div id="Calendar"></div>
<div id="appointmentDialog"></div>

@section Scripts
{
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fullcalendarv231")
    @Scripts.Render("~/bundles/FullcalendarColumn")
    <script>
        $(function() {
            var baseUrl = "/Api/AutogearApi/";
            var instrutors = "@Model.Instructors";
            var cols = [];
            cols  = instrutors.split(",");
            console.log(cols);
           $("#Calendar").fullCalendar({
               header: {
                   left: "prev,next today",
                   center: "title",
                   right: "multiColAgendaDay"
               },
               views: {
                   multiColAgendaDay: {
                       type: "multiColAgenda",
                       duration: { days: 1 },
                       numColumns: @Model.TotalInstructors,
                       columnHeaders: cols
                   }
               },
               editable: false,
               eventDurationEditable: false,
               allDaySlot: false,
               slotDuration: "00:15:00",
               minTime: "06:00:00",
               maxTime: "20:15:00",
               defaultView: "multiColAgendaDay",
               defaultDate:"@Model.StartDate",
               events: "/Api/AutogearApi/GetInstructorDayEvents" 
                              
            });
        });
    </script>
}
