
@{
    ViewBag.Title = "Students";
}

<div class="row">
    <div class="col-xs-4 col-sm-4">
        <div class="input-group">
            @Html.TextBox("SearchText", "", new {@class = "form-control search-query", placeholder = "Search Student Name"})
            <span class="input-group-btn">
                <button type="button" class="btn btn-purple btn-sm">
                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4">
        <div class="input-group">

            @Html.TextBox("StartDate", DateTime.Now.ToString("MM-dd-yyyy"), new {htmlAttributes = new {@class = "form-control date-pickerSD", placeholder = "Choose Date"}})
            <span class="input-group-addon">
                <i class="fa fa-calendar bigger-110"></i>
            </span>


        </div>
    </div>
    <div class="col-xs-4 col-sm-4">
        <div class="input-group">
            <div class="checkbox">
                <label class="block">
                    @Html.CheckBox("Inactivestudents", false, new {@class = ""})
                    <span class="lbl bigger-120">Add In-Active Students</span>
                </label>
            </div>
        </div>
    </div>
</div>
        <p>
            @Html.ActionLink("Create New", "Create", new object { }, new { @class = "btn btn-success" })
            @Html.ActionLink("Update", "Edit", new object { }, new { @class = "btn btn-info", id = "UpdateStudent" })
        </p>

        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
        @section Scripts{
            @Scripts.Render("~/bundles/bootstrap");
            @Scripts.Render("~/bundles/bootstrappicker");
            @Scripts.Render("~/bundles/jqGrid");
            <script>
                $(function () {
                    var baseUrl = "/Api/AutogearApi/";
                    var gridSelector = "#jqGrid";
                    var pagerSelector = "#jqGridPager";
                    var updateStudent = $("#UpdateStudent");

                    updateStudent.hide();
                    var parentColumn = $(gridSelector).closest("[class*='col-']");
                    //resize to fit page size
                    $(window).on("resize.jqGrid", function () {
                        $(gridSelector).jqGrid("setGridWidth", parentColumn.width());
                    });

                    //resize on sidebar collapse/expand
                    $(document).on("settings.ace.jqGrid", function (ev, eventName, collapsed) {
                        if (eventName === "sidebar_collapsed" || eventName === "main_container_fixed") {
                            //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                            setTimeout(function () {
                                $(gridSelector).jqGrid("setGridWidth", parentColumn.width());
                            }, 0);
                        }
                    });


                    //it causes some flicker when reloading or navigating grid
                    //it may be possible to have some custom formatter to do this as the grid is being created to prevent this
                    //or go back to default browser checkbox styles for the grid
                    function styleCheckbox() {

                    }


                    //unlike navButtons icons, action icons in rows seem to be hard-coded
                    //you can change them like this in here if you want
                    function updateActionIcons() {

                    }

                    //replace icons with FontAwesome icons like above
                    function updatePagerIcons() {
                        var replacement =
                        {
                            "ui-icon-seek-first": "ace-icon fa fa-angle-double-left bigger-140",
                            "ui-icon-seek-prev": "ace-icon fa fa-angle-left bigger-140",
                            "ui-icon-seek-next": "ace-icon fa fa-angle-right bigger-140",
                            "ui-icon-seek-end": "ace-icon fa fa-angle-double-right bigger-140"
                        };
                        $(".ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon").each(function () {
                            var icon = $(this);
                            var $class = $.trim(icon.attr("class").replace("ui-icon", ""));

                            if ($class in replacement) icon.attr("class", "ui-icon " + replacement[$class]);
                        });
                    }

                    function enableTooltips(table) {
                        $(".navtable .ui-pg-button").tooltip({ container: "body" });
                        $(table).find(".ui-pg-div").tooltip({ container: "body" });
                    }
                    $(gridSelector).jqGrid({
                        url: baseUrl + "GetStudents?searchtext=&date=&addInactiveStudents=" + false,
                        datatype: "json",
                        colModel: [
                        {
                            label: "StudentId",
                            name: "studentId",
                            width: 0,
                            key: true,
                            editable: true,
                            editrules: { required: true }
                        },
                         {
                             label: 'First Name',
                             name: 'firstName',
                             width: 100,
                             editrules: { required: true }
                         },
                         {
                             label: 'Last Name',
                             name: 'lastName',
                             width: 100,
                             editable: true // must set editable to true if you want to make the field editable
                         },
                         {
                             label: 'Instructor',
                             name: 'instructorName',
                             width: 150,
                             editable: true
                         },
                         {
                             label: 'StartDate',
                             name: 'startDate',
                             width: 100,
                             editable: true,
                             formatter: "date",
                             formatoptions: { srcformat: "ISO8601Long", newformat: "d-M-Y" }
                         }
                        ],
                        sortname: 'FirstName',
                        sortorder: 'asc',
                        loadonce: false,
                        viewrecords: true,
                        width: 780,
                        height: 200,
                        rowNum: 10,
                        pager: "#jqGridPager",
                        altRows: false,
                        multiselect: false,
                        //multikey: "ctrlKey",
                        multiboxonly: true,
                        onSelectRow: function () {
                            var rowKey = $(gridSelector).jqGrid("getGridParam", "selrow");
                            $("#UpdateStudent").show();
                            $("#UpdateStudent").attr("href", "@Url.Action("Edit")?StudentId=" + rowKey);
                        },
                        caption: "Students"

                    });
                    $(window).triggerHandler("resize.jqGrid");//trigger window resize to make the grid get the correct size
                    function styleSearchForm(form) {
                        var dialog = form.closest(".ui-jqdialog");
                        var buttons = dialog.find(".EditTable");
                        buttons.find(".EditButton a[id*='_reset']").addClass("btn btn-sm btn-info").find(".ui-icon").attr("class", "ace-icon fa fa-retweet");
                        buttons.find(".EditButton a[id*='_query']").addClass("btn btn-sm btn-inverse").find(".ui-icon").attr("class", "ace-icon fa fa-comment-o");
                        buttons.find(".EditButton a[id*='_search']").addClass("btn btn-sm btn-purple").find(".ui-icon").attr("class", "ace-icon fa fa-search");
                    }

                    function styleSearchFilters(form) {
                        form.find(".delete-rule").val("X");
                        form.find(".add-rule").addClass("btn btn-xs btn-primary");
                        form.find(".add-group").addClass("btn btn-xs btn-success");
                        form.find(".delete-group").addClass("btn btn-xs btn-danger");
                    }
                    $(gridSelector).jqGrid("navGrid", pagerSelector,
                        {
                           
                        },
                        {
                            //edit record form
                        },
                        {
                            //new record form
                        },
                        {
                            //delete record form
                        },
                        {
                           
                        },
                        {
                           
                        }
                    );
                    $(document).one("ajaxloadstart.page", function (e) {
                        $.jgrid.gridDestroy(gridSelector);
                        $(".ui-jqdialog").remove();
                    });
                    $("#StartDate").datepicker({
                        dateFormat: "dd-mm-yy"
                    });
                    function doSearch() {
                        var searchtext = $("#SearchText").val();
                        var date = $("#StartDate").val();
                        var addInactiveStudent = $("#Inactivestudents").val();
                        var url = baseUrl + "GetStudents?searchtext=" + searchtext + "&date=" + date + "&addInactiveStudents=" + addInactiveStudent;
                        console.log(url);
                        $(gridSelector).jqGrid("setGridParam", { url: url, page: 1 }).trigger("reloadGrid");
                    }
                    $("#SearchText").keyup(function () {
                        doSearch();
                    });
                    $("#Inactivestudents").change(function() {doSearch();});
                });
            </script>
        }




