@{
    ViewBag.Title = "Students";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 widget-container-col">
        <div class="widget-box widget-color-blue">
            <div class="widget-header">
                <h5 class="widget-title">Search for student</h5>

                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="1 ace-icon fa fa-chevron-up bigger-125"></i>
                    </a>
                </div>

            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-xs-12 form-horizontal">
                            <!-- PAGE CONTENT BEGINS -->
                            <!-- #section:elements.form -->
                            <div class="row">
                                <div class="form-group col-md-5 col-xs-5">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Student Name </label>
                                    <div class="col-sm-9">
                                        @Html.TextBox("SearchText", "", new { @class = "form-control search-query", placeholder = "Search Student Name" })
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-xs-4">
                                    @Html.Label("StartDate", htmlAttributes: new { @class = "control-label col-sm-3" })
                                    <div class="col-sm-9">
                                        <div class="input-group col-xs-10 col-sm-8">
                                            @Html.TextBox("StartDate", "", new { htmlAttributes = new { @class = "form-control date-pickerSD", placeholder = "Start Date" } })
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 col-xs-2">
                                    <div class="checkbox">
                                        <label class="block">
                                            @Html.CheckBox("Inactivestudents", false, new { @class = "" })
                                            <span class="lbl bigger-120">Add In-Active Students</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-1 col-xs-1">
                                    <button class="btn btn-xs btn-success pull-right" id="searchbtn">
                                        <span class="bigger-110">Search</span>
                                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <p>
            @Html.ActionLink("Create New", "Create", new object { }, new { @class = "btn btn-success" })
            @Html.ActionLink("Update", "Edit", new object { }, new { @class = "btn btn-info", id = "UpdateStudent" })
        </p>

        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/bootstrap");
    @Scripts.Render("~/bundles/bootstrappicker");
    @Scripts.Render("~/bundles/jqGrid");
    <script>
        $(function () {
            var baseUrl = "/Api/AutogearApi/";
            var gridSelector = "#jqGrid";
            var pagerSelector = "#jqGridPager";
            var updateStudent = $("#UpdateStudent");

            updateStudent.hide();
            var parentColumn = $(gridSelector).closest("[class*='col-']");
            //resize to fit page size
            $(window).on("resize.jqGrid", function () {
                $(gridSelector).jqGrid("setGridWidth", parentColumn.width());
            });

            //resize on sidebar collapse/expand
            $(document).on("settings.ace.jqGrid", function (ev, eventName, collapsed) {
                if (eventName === "sidebar_collapsed" || eventName === "main_container_fixed") {
                    //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                    setTimeout(function () {
                        $(gridSelector).jqGrid("setGridWidth", parentColumn.width());
                    }, 0);
                }
            });


            //it causes some flicker when reloading or navigating grid
            //it may be possible to have some custom formatter to do this as the grid is being created to prevent this
            //or go back to default browser checkbox styles for the grid
            function styleCheckbox() {

            }


            //unlike navButtons icons, action icons in rows seem to be hard-coded
            //you can change them like this in here if you want
            function updateActionIcons() {

            }

            //replace icons with FontAwesome icons like above
            function updatePagerIcons() {
                var replacement =
                {
                    "ui-icon-seek-first": "ace-icon fa fa-angle-double-left bigger-140",
                    "ui-icon-seek-prev": "ace-icon fa fa-angle-left bigger-140",
                    "ui-icon-seek-next": "ace-icon fa fa-angle-right bigger-140",
                    "ui-icon-seek-end": "ace-icon fa fa-angle-double-right bigger-140"
                };
                $(".ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon").each(function () {
                    var icon = $(this);
                    var $class = $.trim(icon.attr("class").replace("ui-icon", ""));

                    if ($class in replacement) icon.attr("class", "ui-icon " + replacement[$class]);
                });
            }

            function enableTooltips(table) {
                $(".navtable .ui-pg-button").tooltip({ container: "body" });
                $(table).find(".ui-pg-div").tooltip({ container: "body" });
            }

            $(gridSelector).jqGrid({
                url: baseUrl + "GetStudents?searchtext=&date=&addInactiveStudents=" + false,
                datatype: "json",
                colModel: [
                    {
                        label: "StudentId",
                        name: "studentNumber",
                        width: 0,
                        key: true,
                        editable: true,
                        editrules: { required: true }
                    },
                    {
                        label: 'First Name',
                        name: 'firstName',
                        width: 100,
                        editrules: { required: true }
                    },
                    {
                        label: 'Last Name',
                        name: 'lastName',
                        width: 100,
                        editable: true // must set editable to true if you want to make the field editable
                    },
                    {
                        label: 'Instructor',
                        name: 'instructorName',
                        width: 150,
                        editable: true
                    },
                    {
                        label: 'StartDate',
                        name: 'startDate',
                        width: 100,
                        editable: true,
                        formatter: "date",
                        formatoptions: { srcformat: "ISO8601Long", newformat: "d-M-Y" }
                    }
                ],
                sortname: 'FirstName',
                sortorder: 'asc',
                loadonce: true,
                viewrecords: true,
                width: 780,
                height: 200,
                rowNum: 5,
                rowList: [5, 10, 15],
                pager: "#jqGridPager",
                altRows: false,
                multiselect: false,
                //multikey: "ctrlKey",
                multiboxonly: true,
                onSelectRow: function () {
                    var rowKey = $(gridSelector).jqGrid("getGridParam", "selrow");
                    $("#UpdateStudent").show();
                    $("#UpdateStudent").attr("href", "@Url.Action("Edit")?StudentId=" + rowKey);
                },
                caption: "Students",
                gridComplete: function () {
                    $(gridSelector).setGridParam({ datatype: 'local' });
                },
                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        updatePagerIcons(table);
                    }, 0);
                }

            });
            $(window).triggerHandler("resize.jqGrid");//trigger window resize to make the grid get the correct size
            
            $(gridSelector).jqGrid("navGrid", pagerSelector,{edit: false,del:false});

            $(document).one("ajaxloadstart.page", function (e) {

                $.jgrid.gridDestroy(gridSelector);
                $(".ui-jqdialog").remove();
            });

            function doSearch() {
                var searchtext = $("#SearchText").val();
                var date = $("#StartDate").val();
                var addInactiveStudent = $("#Inactivestudents").val();
                var url = baseUrl + "GetStudents?searchtext=" + searchtext + "&date=" + date + "&addInactiveStudents=" + addInactiveStudent;
                $(gridSelector).jqGrid("setGridParam", { datatype: 'json',url: url, page: 1 }).trigger("reloadGrid");
            }
            $("#StartDate").datepicker({
                minDate: 0,
                dateFormat: "yy-mm-dd",
                onSelect: function (dateText, inst) {
                    doSearch();
                }
            });


            $("#SearchText").keyup(function () {
                doSearch();
            });
            $("#Inactivestudents").change(function () { doSearch(); });
            $("#searchbtn").click(function () {
                doSearch();
            });
        });
    </script>
}




